/* 
    Code for the About Us page structure 

*/

.page-wrapper {
    display: grid;
    margin: 0;
    padding: 0;
    align-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

}

.nav-wrapper {
    grid-row: 1;
}

.head-page {
    grid-row: 2;
}

.info-club {
    grid-row: 3;
    margin-top: 4px;
    padding: 30px;
    display: grid;
    align-items: center;
    justify-content: center;
    justify-items: center;
    align-content: center;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

}

#downarrow {
    cursor: pointer;
}


.image-deco {
    grid-column: 1/span 3;
}

.about-txt {
    grid-column: 4/span 2;
    display: flex;
    flex-direction: column;
    row-gap: 50px;
    line-height: 1.5;
    color: rgba(0, 0, 0, 0.7);
}

.about-txt strong {
    font-size: 20px;
    background-color: rgb(177, 112, 112);
    color: white;
    padding: 3px 5px;
}

.parallex-section {
    grid-row: 4;
}

/* Styling for the testimonials section */
#testimonials {
    grid-row: 5;
    display: flex;
    padding: 40px 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;

}

#testi-title h1 {
    font-style: italic;
    font-weight: 700;
    margin-bottom: 20px;
}

/* Styling for individual testimonial cards */
.testi-cards {
    display: flex;
    padding: 10px 40px;
    width: 100%;
    height: auto;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    justify-content: center;
    text-align: center;
    align-items: center;
    justify-content: center;
    border: solid 1px;
    border-left: solid 7px black;

}

.testi-txt {
    display: flex;
    flex-direction: column;
}

.testi-cards p {
    font-style: italic;
    width: 50vw;
    text-align: left;

}

.person-info {
    color: rgba(0, 0, 0, 0.653);
    margin-top: 5px;
    font-size: 0.9em;
}

/* Training info section */
#training-info {
    grid-row: 6;
    padding: 50px 20px;
    background-color: #f8f8f8;
    width: 100%;
}

.training-header {
    text-align: center;
    margin-bottom: 30px;
}

.training-header h1 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.training-header .deco-line {
    width: 100px;
    height: 3px;
    background-color: rgb(177, 112, 112);
    margin: 0 auto;
}

.training-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    max-width: 1000px;
    margin: 0 auto;
    align-items: center;
}

.training-details {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.training-item {
    background: white;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-left: 5px solid rgb(177, 112, 112);
}

.training-item h3 {
    font-size: 1.3rem;
    margin-bottom: 10px;
    color: #333;
}

.training-item p {
    margin: 5px 0;
    color: #555;
    font-size: 1.1rem;
}

.training-map {
    width: 100%;
}

.join-us {
    grid-row: 7;
    width: 100%;
    height: 500px;
    /* Adjust height as needed */
    position: relative;
    overflow: hidden;
    /* Ensures any part of the image that extends outside the container will be hidden */
}



#downarrow {
    position: relative;
    animation: moveDownUp 2s infinite ease-in-out;
}

@keyframes moveDownUp {
    0% {
        top: 0;
        /* Start at original position */
    }

    50% {
        top: 17px;
        /* Move down 100px */
    }

    100% {
        top: 0;
        /* Move back to original position */
    }
}

#sub-info {
    grid-row: 8;
}


@media only screen and (max-width: 720px) {

    .info-club {
        display: flex;
        flex-direction: column;
        padding: 30px 0px;
    }

    .about-txt {
        row-gap: 50px;
        line-height: 1.3;
        font-size: 13px;
        margin: 2px 15px 2px 15px;
    }

    .about-txt strong {
        font-size: 17px;
        padding: 3px 5px;
    }


    .testi-cards {
        flex-direction: column-reverse;
        border: solid 1px;
        padding: 20px 20px;
    }

    .testi-cards p {
        font-style: italic;
        width: 75vw;
        text-align: left;

    }

    .training-content {
        grid-template-columns: 1fr;
        gap: 20px;
        padding: 0 10px;
    }

    .training-item {
        padding: 20px;
    }

    .training-header h1 {
        font-size: 1.5rem;
    }
}