/* Importing Poppins font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap');

/* Global Reset and Box Sizing */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styling with Poppins font */
body {
    font-family: 'Poppins', sans-serif;
}

/* Heading 1 styling */
h1 {
    font-size: 2.5rem;
    font-weight: 700;
    color: rgb(35, 35, 85);
    padding-bottom: 10px;
}

/* Span styling */
span {
    font-size: 0.9rem;
    color: #757373;
}

/* Heading 6 styling */
h6 {
    font-size: 1.1rem;
    color: rgb(24, 24, 49);
}

/* Home Section Styling */
#home {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 40px;
}

/* Home Section Heading 2 Styling */
#home h2 {
    color: #fff;
    font-size: 2.2rem;
    letter-spacing: 1px;
}

/* Home Section Paragraph Styling */
#home p {
    width: 50%;
    color: #fff;
    font-size: 0.9rem;
    line-height: 25px;
}

/* Importance Section Styling */
#importance {
    padding: 5vw 8vw 0 8vw;
    text-align: center;
}

.imp-box {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.imp-box:hover {
    transform: translateY(-5px);
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}

/* Importance Boxes Grid Styling */
.imp-base {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
    grid-gap: 1rem;
    margin-top: 50px;
}

/* Importance Box Styling */
#importance .imp-box {
    background-color: #f9f9ff;
    text-align: start;
    padding: 13px 13px 13px 13px;
    text-align: center;
}

/* Importance Box Icon Styling */
#importance .imp-box i {
    font-size: 2.3rem;
    color: rgb(44, 44, 80);
}

/* Importance Box Heading 3 Styling */
#importance .imp-box h3 {
    font-size: 1.2rem;
    font-weight: 600;
    color: rgb(44, 44, 59);
    padding: 13px 0 7px 0;
}

/* Importance Box Paragraph Styling */
#importance .imp-box p {
    font-size: 1rem;
    font-weight: 400;
    color: rgb(70, 70, 87);
}

/* Chart Section Styling */
.chartt {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

/* Chart Section Heading 1 Styling */
.chartt h1 {
    font-size: 36px;
    font-weight: 600;
}

/* Chart Section Paragraph Styling */
p {
    color: #777;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

/* Chart Column Styling */
.chartt-col {
    flex-basis: 30%;
    border-radius: 10px;
    margin-bottom: 13%;
    margin-top: 20px;
    text-align: center;
    position: relative;
    overflow: hidden;
}

/* Chart Column Image Styling */
.chartt-col img {
    width: 100%;
    border-radius: 10px;
    height: 65%;
}



/* Responsive layout adjustment for tablet */
@media (max-width: 830px) {
    /* Adjusting font size for Heading 1 in the Chart Section */
    .chartt h1 {
        font-size: 20px;
    }

    /* Adjusting font size for Heading 1 in the Chart Column */
    .chartt-col h1 {
        font-size: 20px;
    }

    #home p {
        width: 90%;
    }

    /* Removing padding-top in the Home section */
    #home {
        padding-top: 0;
    }
}

/* Responsive layout adjustment for phone */
@media (max-width: 500px) {
    #home p {
        width: 80%;
        font-size: 0.8rem;
        line-height: 25px;
        padding-bottom: 10px;
    }

    #home {
        height: 50vh;
    }

    #importance h1{
        font-size: 1.7rem;
    }

    #importance .imp-box {
        text-align: start;
        padding: 13px 13px 13px 13px;
        text-align: center;
        width: 330px;
    }
}