/* Style for the footer for the whole website pages*/
#sub-info {
    background-color: #b17070;
    width: 100%;
    display: flex;/* Children  will be displayed in a row */
    flex-wrap: wrap;/*  If there is not enough space, they go to next line */
    align-items: center;
    padding: 10px;
    margin: 0;
    color: white;
    box-sizing: border-box; /* Added to include padding in the total width */
}

/*  Styles for the left part of the footer (contains icons with link) */
#follow-link {
    display: flex;
    align-items: center;
    margin-left: 10vw; /*  Use vw as it takes into account the viewport size */
}

/* Style for each icon in follow section */
.socmed-logo {
    width: 50px;
    height: auto;
    margin: 10px;
}

/* Style for contact-us/email section */
#contact {
    margin-left: 10vw; /*  Same as above but for text content */
}
