/* 
    Code for page navigation in website

*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', 'Arial', sans-serif;
}

/* HEADINGS */

.headline h1 {
  color: #fff;
  text-align: center;
  line-height: 1.4;
  text-shadow: 4px 8px 4px rgba(0, 0, 0, 0.5);
}

.headline h1 {
  font-size: 2.2rem;
}

.headline h2 {
  color: #000;
  font-size: 1.3rem;
  text-align: center;
  line-height: 1.4;
  margin-bottom: 10px;
}

/* BASIC SETUP */

.page-wrapper {
  width: 100%;
  height: auto;
}

.nav-wrapper {
  width: 100%;
  position: -webkit-sticky;
  /* Safari */
  position: relative;
  top: 0;
  background-color: #342b2b;
  z-index: 100;
}

.grad-bar {
  width: 100%;
  height: 5px;
  background: linear-gradient(-45deg, #342b2b, #342b2b, #3b0419, #23d5c0, #342b2b, #342b2b);
  background-size: 400% 400%;
  -webkit-animation: gradbar 15s ease infinite;
  -moz-animation: gradbar 15s ease infinite;
  animation: gradbar 15s ease infinite;
}

/* NAVIGATION */

.navbar {
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;
  height: 85px;
  overflow: hidden;
}

.navbar img {
  height: 80px;
  width: auto;
  justify-self: start;
  margin-left: 20px;
}

.navbar ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-self: end;
}


.nav-item a {
  color: #ffffff;
  font-size: 1.2rem;
  font-weight: 400;
  text-decoration: none;
  transition: color 0.3s ease-out;
  align-items: end;
}

.navbar li {
  display: flex;
  /* Make the <li> a flex container */
  align-items: center;
  /* Align items vertically center */
  justify-content: flex-end;
  /* Align text to the right end of the <li> */
  margin-left: 40px;
}

.nav-item a:hover {
  color: #3498db;
}

.navbar li.mob-line {
  display: none;
}

/* SECTIONS */

.headline {
  width: 100%;
  height: 80vh;
  min-height: 350px;
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.7)), url('../img/head-pics.webp');
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
}


.features {
  width: 100%;
  height: auto;
  background-color: #f1f1f1;
  display: flex;
  padding: 50px 20px;
  justify-content: space-around;
}

.feature-container {
  flex-basis: 30%;
  margin-top: 10px;
}

.feature-container p {
  color: #000;
  text-align: center;
  line-height: 1.4;
  margin-bottom: 15px;
}

.feature-container img {
  width: 100%;
  margin-bottom: 15px;
}

/* MOBILE MENU & ANIMATION */

.menu-toggle .bar {
  width: 25px;
  height: 3px;
  background-color: #ffffff;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.no-scroll {
  overflow: hidden;
}

.menu-toggle {
  justify-self: end;
  margin-right: 25px;
  display: none;
}

.menu-toggle:hover {
  cursor: pointer;
}

#mobile-menu.is-active .bar:nth-child(2) {
  opacity: 0;
}

#mobile-menu.is-active .bar:nth-child(1) {
  -webkit-transform: translateY(8px) rotate(45deg);
  -ms-transform: translateY(8px) rotate(45deg);
  -o-transform: translateY(8px) rotate(45deg);
  transform: translateY(8px) rotate(45deg);
}

#mobile-menu.is-active .bar:nth-child(3) {
  -webkit-transform: translateY(-8px) rotate(-45deg);
  -ms-transform: translateY(-8px) rotate(-45deg);
  -o-transform: translateY(-8px) rotate(-45deg);
  transform: translateY(-8px) rotate(-45deg);
}

/* KEYFRAME ANIMATIONS */

@-webkit-keyframes gradbar {
  0% {
    background-position: 0% 50%
  }

  50% {
    background-position: 100% 50%
  }

  100% {
    background-position: 0% 50%
  }
}

@-moz-keyframes gradbar {
  0% {
    background-position: 0% 50%
  }

  50% {
    background-position: 100% 50%
  }

  100% {
    background-position: 0% 50%
  }
}

@keyframes gradbar {
  0% {
    background-position: 0% 50%
  }

  50% {
    background-position: 100% 50%
  }

  100% {
    background-position: 0% 50%
  }
}

/* Media Queries */

/* Mobile Devices - Phones/Tablets */

@media screen and (max-width: 720px) {
  .features {
    flex-direction: column;
    padding: 50px;
  }

  .navbar {
    height: 75px;
  }

  .navbar ul {
    display: flex;
    flex-direction: column;
    position: fixed;
    justify-content: start;
    top: 80px;
    background-color: #342b2b;
    width: 100%;
    height: calc(100vh - 55px) !important;
    transition: transform 0.7s ease;
    transform: translate(-101%);
    text-align: center;
    overflow: hidden;
  }

  .navbar li {
    padding: 15px;
    align-items: center;
    /* Align items vertically center */
    justify-content: center;
    /* Align text to the right end of the <li> */
    margin: 0 0;
  }

  .navbar li:first-child {
    margin-top: 50px;
  }

  .navbar li.mob-line {
    display: block;
    margin: 0px;
    padding: 0px;
    background-color: #23d5c0;
    height: 1px;
    align-self: center;
    width: 305px;
    animation: shorten 5s infinite;
    /* Add animation here */
  }

  @keyframes shorten {

    0%,
    100% {
      width: 305px;
      /* Default length */
    }

    50% {
      width: 250px;
      /* Shortened length */
    }
  }

  .navbar li a {
    font-size: 1rem;
  }

  .navbar img {
    height: 55px;
  }

  .menu-toggle,
  .bar {
    display: block;
    cursor: pointer;
  }

  .mobile-nav {
    transform: translate(0%) !important;
  }

  /* SECTIONS */

  .headline {
    height: 60vh;
    background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.7)), url('../img/head-pics-mobile.webp');
    background-size: cover;
  }

  .feature-container p {
    margin-bottom: 25px;
  }

  .feature-container {
    margin-top: 20px;
  }

  .feature-container:nth-child(2) {
    order: -1;
  }


}